mule/src/main/mule/mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="916bfd03-cceb-431c-b713-0cd18327abae" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleFlow" doc:id="daa884dc-7631-47c3-a08e-b61ce2b36f79" >
		<http:listener doc:name="Listener" doc:id="e3297590-c054-4e9a-b241-3a1e30f3d3f0" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hi"]' doc:name="Set Payload" doc:id="64a3a926-6d7d-4eb5-8f0c-8fc71e42d514" />
		<logger level="INFO" doc:name="Logger" doc:id="5297e220-525e-4330-9008-1b29c7296f62" />
	</flow>
</mule>
